// SCSS variables
$primary-color: #5945FE;
$secondary-color: #0073aa;
$text-color: #010101;
$text-color-light: #565468;
$text-color-white:#FFFFFF;
$background-color: #F6F5FD;
$background-color-white: #FFFFFF;
$border-color: #E5E5E5;

// Font families
$primary-font: 'Work Sans', sans-serif;
$secondary-font: 'Work Sans', sans-serif;
$heading-font: 'Work Sans', sans-serif;

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// // Font sizes
// $font-size-base: 16px;
// $font-size-small: 14px;
// $font-size-large: 18px;
// $font-size-huge: 24px;
// $font-size-h1: 50px;
// $font-size-h2: 40px;

$font-size-base: 1rem;          // 16px
$font-size-small: 0.875rem;     // 14px
$font-size-large: 1.125rem;     // 18px
$font-size-huge: 1.5rem;        // 24px
$font-size-h1: 3.125rem;        // 50px
$font-size-h2: 2.5rem;         // 40px



// // Line heights
// $line-height-h1: 60px;
// $line-height-h2: 50px;
// $line-height-h3: 40px;
// $line-height-h4: 30px;
// Line heights
$line-height-h1: 3.75rem;    // 60px
$line-height-h2: 3.125rem;   // 50px
$line-height-h3: 2.5rem;     // 40px
$line-height-h4: 1.875rem;   // 30px
body{
    font-family: $primary-font;
}


// create basic media queries for body font size
@media screen and (min-width: 320px) {
    html {
        font-size: 12px;
    }
    
}
@media screen and (min-width: 768px) {
    html {
        font-size: 14px;
    }
}
@media screen and (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}

// Import Work Sans from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');